/third_party/
/src/python/convex_mpc/__pycache__

*.egg-info/
dist/
build/


__pycache__/
*.pycvenv/
__pycache__/
*.pyc
.env
paper/
ablation_results_first_run/
ablation_results_second_run/
ablation_results_third/